html {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 32px;
}

h3 {
  font-weight: bold;
  font-size: 18px;
}

.wrap {
  margin: auto;
  width: 50%;
  text-align: center;
  position: relative;
  padding-top: 10%;
}

.block {
  background-color: #f5f5f5;
  border-radius: 13px;
  border-color: #f5f5f5;
  padding: 40px;
}

.button {
  border-radius: 10px;
  width: 100px;
  height: 30px;
  max-width: 200px;
  color: white;
  background-color: blue;
  border-color: blue;
  font-weight: bold;


}